<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.framework.system.dao.mybatisimpl.OptDataScopeDao">
    <resultMap type="com.centit.framework.system.po.OptDataScope" id="OptDataScope">
        <result property="optScopeCode" column="OPT_SCOPE_CODE" />
        <result property="scopeName" column="SCOPE_NAME" />
        <result property="optId" column="OPT_ID" />
        <result property="filterCondition" column="FILTER_CONDITION" />
        <result property="scopeMemo" column="SCOPE_MEMO" />
    </resultMap>

    <!-- 查询条件 -->
    <sql id="condition" databaseId="oracle">
        <if test="OPTID != null  and OPTID != ''  ">
            and u.OPT_ID = #{OPTID}
        </if>
        <if test="OPTSCOPECODE != null  and OPTSCOPECODE != ''  ">
            and u.OPT_SCOPE_CODE = #{OPTSCOPECODE}
        </if>
        <if test="SCOPENAME != null  and SCOPENAME != ''  ">
            and u.SCOPE_NAME like '%'|| #{SCOPENAME}||'%'
        </if>
    </sql>

    <sql id="condition" databaseId="mysql">
        <if test="OPTID != null  and OPTID != ''  ">
            and u.OPT_ID = #{OPTID}
        </if>
        <if test="OPTSCOPECODE != null  and OPTSCOPECODE != ''  ">
            and u.OPT_SCOPE_CODE = #{OPTSCOPECODE}
        </if>
        <if test="SCOPENAME != null  and SCOPENAME != ''  ">
            and u.SCOPE_NAME like concat('%', #{SCOPENAME}, '%')
        </if>
    </sql>

    <sql id="condition" databaseId="h2">
        <if test="OPTID != null  and OPTID != ''  ">
            and u.OPT_ID = #{OPTID}
        </if>
        <if test="OPTSCOPECODE != null  and OPTSCOPECODE != ''  ">
            and u.OPT_SCOPE_CODE = #{OPTSCOPECODE}
        </if>
        <if test="SCOPENAME != null  and SCOPENAME != ''  ">
            and u.SCOPE_NAME like concat('%', #{SCOPENAME}, '%')
        </if>
    </sql>

    <!-- 查询核心SQL -->
    <sql id="coreSql">
        <![CDATA[
            select u.OPT_SCOPE_CODE,
                   u.SCOPE_NAME,
                   u.OPT_ID,
                   u.FILTER_CONDITION,
                   u.SCOPE_MEMO
            from F_OPTDATASCOPE u
        ]]>
    </sql>

    <!--分页计数 -->
    <select id="pageCount" parameterType="map" resultType="int">
        <![CDATA[
            select count(0) cnt
            from  F_OPTDATASCOPE u
        ]]>
        <where>
            <include refid="condition" />
        </where>
    </select>

    <!--分页查询 -->
    <select id="pageQuery" parameterType="map" resultMap="OptDataScope">
        <include refid="com.centit.framework.mybatis.dao.BaseDao.pageBegin" />
        <include refid="coreSql" />
        <where>
            <include refid="condition" />
        </where>
        <if test="pageDesc != null ">
            order by ${ORDER BY}
        </if>
        <include refid="com.centit.framework.mybatis.dao.BaseDao.pageEnd" />
    </select>
    <!--分页查询结束 -->

    <!--查询单条记录ById -->
    <select id="getObjectById" parameterType="String" resultMap="OptDataScope">
        <include refid="coreSql" />
        <where>
            <![CDATA[
                u.OPT_SCOPE_CODE=#{optScopeCode}
            ]]>
        </where>
    </select>
    <!--查询单条记录 结束 -->

    <!--插入新单据 start -->
    <sql id="insertSql">
        (
            OPT_SCOPE_CODE,
            SCOPE_NAME,
            OPT_ID,
            FILTER_CONDITION,
            SCOPE_MEMO
        )values(
            #{optScopeCode,jdbcType=VARCHAR},
            #{scopeName,jdbcType=VARCHAR},
            #{optId,jdbcType=VARCHAR},
            #{filterCondition,jdbcType=VARCHAR},
            #{scopeMemo,jdbcType=VARCHAR}
        )
    </sql>
    <insert id="saveNewObject" parameterType="com.centit.framework.system.po.OptDataScope">
        insert into F_OPTDATASCOPE
        <include refid="insertSql" />
    </insert>

    <insert id="saveObject" parameterType="com.centit.framework.system.po.OptDataScope">
        insert into F_OPTDATASCOPE
        <include refid="insertSql" />
    </insert>
    <!--插入新单据 end -->

    <!--更新单据 start -->
    <sql id="updSql">
        <set>
            <if test="scopeName!=null ">
                SCOPE_NAME = #{scopeName,jdbcType=VARCHAR},
            </if>
            <if test="optId!=null ">
                OPT_ID = #{optId,jdbcType=VARCHAR},
            </if>
            <if test="filterCondition!=null ">
                FILTER_CONDITION = #{filterCondition,jdbcType=VARCHAR},
            </if>
            <if test="scopeMemo!=null ">
                SCOPE_MEMO = #{scopeMemo,jdbcType=VARCHAR},
            </if>
        </set>
    </sql>
    <update id="updateOptDataScope" parameterType="com.centit.framework.system.po.OptDataScope">
        update F_OPTDATASCOPE
        <include refid="updSql" />
        where  OPT_SCOPE_CODE=#{optScopeCode}
    </update>
    <!--更新单据 end -->

    <!--Merge单据 start -->
    <update id="mergeObject" databaseId="oracle" parameterType="com.centit.framework.system.po.OptDataScope">
        merge into F_OPTDATASCOPE t
        using ( select #{optScopeCode} as OPT_SCOPE_CODE from dual) t1
        on(t.OPT_SCOPE_CODE = t1.OPT_SCOPE_CODE)
        when not matched then
        insert
        <include refid="insertSql" />
        when matched then
        update
        <include refid="updSql" />
        where OPT_SCOPE_CODE=#{optScopeCode}
    </update>

    <update id="mergeObject" databaseId="mysql" parameterType="com.centit.framework.system.po.OptDataScope">
        replace into F_OPTDATASCOPE
        <include refid="insertSql" />
    </update>

    <update id="mergeObject" databaseId="h2" parameterType="com.centit.framework.system.po.OptDataScope">
        replace into F_OPTDATASCOPE
        <include refid="insertSql" />
    </update>
    <!--Merge单据 end -->

    <!--删除记录  -->
    <delete id="deleteObjectById" parameterType="String" timeout="2000">
        <![CDATA[
            delete from F_OPTDATASCOPE where OPT_SCOPE_CODE=#{optScopeCode}
        ]]>
    </delete>

    <delete id="deleteObject" parameterType="com.centit.framework.system.po.OptDataScope">
        <![CDATA[
            delete from F_OPTDATASCOPE where OPT_SCOPE_CODE=#{optScopeCode}
        ]]>
    </delete>
    <!--删除记录 结束 -->

    <select id="getDataScopeByOptID" resultMap="OptDataScope" parameterType="String">
        <include refid="coreSql" />
        where OPT_ID =#{sOptID}
    </select>

    <select id="getOptDataScopeSumByOptID" resultType="int" parameterType="String">
        select count(OPTSCOPECODE) from F_OPTDATASCOPE where OPT_ID =#{sOptID}
    </select>

    <delete id="deleteDataScopeOfOptID" timeout="2000" parameterType="String">
        delete from F_OPTDATASCOPE where OPT_ID =#{sOptID}
    </delete>

    <select id="getNextOptCode" databaseId="oracle" resultType="String">
        select S_OPTDEFCODE.nextval from dual
    </select>

    <select id="getNextOptCode" databaseId="mysql" resultType="String">
        select sequence_nextval('S_OPTDEFCODE')
    </select>

    <select id="getNextOptCode" databaseId="h2" resultType="String">
        select NEXT VALUE FOR S_OPTDEFCODE
    </select>

    <select id="listDataFiltersByIds" parameterType="map" resultType="String">
        select u.FILTER_CONDITION
        from F_OPTDATASCOPE u
        where
        <foreach item="scope" collection="scopes" separator=","
        open=" u.OPTSCOPECODE in (" close=")" index="">
            #{scope, jdbcType=VARCHAR}
        </foreach>
    </select>

</mapper>
