<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.framework.system.dao.mybatisimpl.QueryFilterConditionDao">
    <resultMap type="com.centit.framework.system.po.QueryFilterCondition" id="QueryFilterCondition">
        <result property="conditionNo" column="CONDITION_NO" />
        <result property="tableClassName" column="TABLE_CLASS_NAME" />
        <result property="paramName" column="PARAM_NAME" />
        <result property="paramLabel" column="PARAM_LABEL" />
        <result property="paramType" column="PARAM_TYPE" />
        <result property="defaultValue" column="DEFAULT_VALUE" />
        <result property="filterSql" column="FILTER_SQL" />
        <result property="selectDataType" column="SELECT_DATA_TYPE" />
        <result property="selectDataCatalog" column="SELECT_DATACATA_LOG" />
        <result property="selectSql" column="SELECT_SQL" />
        <result property="selectJson" column="SELECT_JSON" />
        <result property="createDate" column="CREATE_DATE" />
    </resultMap>

    <!-- 查询条件 -->
    <sql id="condition">
        <if test="conditionNo != null  and conditionNo != ''  ">
            and u.CONDITION_NO = #{conditionNo}
        </if>
        <if test="tableClassName != null  and tableClassName != ''  ">
            and u.TABLE_CLASS_NAME like '%'|| #{tableClassName}||'%'
        </if>
        <if test="paramName != null  and paramName != ''  ">
            and u.PARAM_NAME = #{paramName}
        </if>
        <if test="paramLabel != null  and paramLabel != ''  ">
            and u.PARAM_LABEL = #{paramLabel}
        </if>
        <if test="paramType != null  and paramType != ''  ">
            and u.PARAM_TYPE = #{paramType}
        </if>
        <if test="defaultValue != null  and defaultValue != ''  ">
            and u.DEFAULT_VALUE = #{defaultValue}
        </if>
        <if test="filterSql != null  and filterSql != ''  ">
            and u.FILTER_SQL = #{filterSql}
        </if>
        <if test="selectDataType != null  and selectDataType != ''  ">
            and u.select_Data_Type = #{SELECTDATATYPE}
        </if>
        <if test="selectDataCatalog != null  and selectDataCatalog != ''  ">
            and u.SELECT_DATACATA_LOG = #{selectDataCatalog}
        </if>
        <if test="selectSql != null  and selectSql != ''  ">
            and u.SELECT_SQL = #{selectSql}
        </if>
        <if test="selectJson != null  and selectJson != ''  ">
            and u.SELECT_JSON = #{selectJson}
        </if>
    </sql>

    <!-- 查询核心SQL -->
    <sql id="coreSql">
        <![CDATA[
            select u.CONDITION_NO,
                   u.TABLE_CLASS_NAME,
                   u.PARAM_NAME,
                   u.PARAM_LABEL,
                   u.PARAM_TYPE,
                   u.DEFAULT_VALUE,
                   u.FILTER_SQL,
                   u.SELECT_DATA_TYPE,
                   u.SELECT_DATACATA_LOG,
                   u.SELECT_SQL,
                   u.SELECT_JSON,
                   u.CREATE_DATE
            from F_QUERY_FILTER_CONDITION u
        ]]>
    </sql>

    <!--分页计数 -->
    <select id="pageCount" parameterType="map" resultType="int">
        <![CDATA[
            select count(0) cnt
            from  F_QUERY_FILTER_CONDITION u
        ]]>
        <where>
            <include refid="condition" />
        </where>
    </select>

    <!--分页查询 -->
    <select id="pageQuery" parameterType="map" resultMap="QueryFilterCondition">
        <include refid="com.centit.framework.mybatis.dao.BaseDao.pageBegin" />
        <include refid="coreSql" />
        <where>
            <include refid="condition" />
        </where>
        <if test="mybatisOrderBy != null and mybatisOrderBy != '' ">
            order by ${mybatisOrderBy}
        </if>
        <include refid="com.centit.framework.mybatis.dao.BaseDao.pageEnd" />
    </select>
    <!--分页查询结束 -->

    <!--查询单条记录ById -->
    <select id="getObjectById" parameterType="String" resultMap="QueryFilterCondition">
        <include refid="coreSql" />
        <where>
            <![CDATA[
                u.CONDITION_NO=#{filterNo}
            ]]>
        </where>
    </select>
    <!--查询单条记录 结束 -->

    <!--插入新单据 start -->
    <sql id="insertSql">
        (
            CONDITION_NO,
            TABLE_CLASS_NAME,
            PARAM_NAME,
            PARAM_LABEL,
            PARAM_TYPE,
            DEFAULT_VALUE,
            FILTER_SQL,
            SELECT_DATA_TYPE,
            SELECT_DATACATA_LOG,
            SELECT_SQL,
            SELECT_JSON,
            CREATE_DATE
        )values(
            #{conditionNo},
            #{tableClassName},
            #{paramName},
            #{paramLabel},
            #{paramType},
            #{defaultValue},
            #{filterSql},
            #{selectDataType},
            #{selectDataCatalog},
            #{selectSql},
            #{selectJson},
            #{createDate}
        )
    </sql>
    <insert id="saveNewQueryFilterCondition" parameterType="com.centit.framework.system.po.QueryFilterCondition">
        insert into F_QUERY_FILTER_CONDITION
        <include refid="insertSql" />
    </insert>
    <!--插入新单据 end -->

    <!--更新单据 start -->
    <sql id="updSql">
        <set>
            <if test="conditionNo !=null ">
                CONDITION_NO = #{conditionNo},
            </if>
            <if test="tableClassName !=null ">
                TABLE_CLASS_NAME = #{tableClassName},
            </if>
            <if test="paramName !=null ">
                PARAM_NAME = #{paramName},
            </if>
            <if test="paramLabel !=null ">
                PARAM_LABEL = #{paramLabel},
            </if>
            <if test="paramType !=null ">
                PARAM_TYPE = #{paramType},
            </if>
            <if test="defaultValue !=null ">
                DEFAULT_VALUE = #{defaultValue},
            </if>
            <if test="filterSql !=null ">
                FILTER_SQL = #{filterSql},
            </if>
            <if test="selectDataType !=null ">
                SELECT_DATA_TYPE = #{selectDataType},
            </if>
            <if test="selectDataCatalog !=null ">
                SELECT_DATACATA_LOG = #{selectDataCatalog},
            </if>
            <if test="selectSql !=null ">
                SELECT_SQL = #{selectSql},
            </if>
            <if test="selectJson !=null ">
                SELECT_JSON = #{selectJson},
            </if>
        </set>
    </sql>
    <update id="updateQueryFilterCondition" parameterType="com.centit.framework.system.po.QueryFilterCondition" timeout="2000">
        update F_QUERY_FILTER_CONDITION
        <include refid="updSql" />
        where CONDITION_NO=#{conditionNo}
    </update>
    <!--更新单据 end -->

    <!--Merge单据 start -->
    <update id="mergeObject" databaseId="oracle" parameterType="com.centit.framework.system.po.QueryFilterCondition" timeout="2000">
        merge into F_QUERY_FILTER_CONDITION t
        using ( select #{conditionNo} as CONDITION_NO  from dual) t1
        on(t.CONDITION_NO = t1.CONDITION_NO)
        when not matched then
        insert
        <include refid="insertSql" />
        when matched then
        update
        <include refid="updSql" />
        where CONDITION_NO=#{conditionNo}
    </update>

    <update id="mergeObject" databaseId="mysql" parameterType="com.centit.framework.system.po.QueryFilterCondition" timeout="2000">
        replace into F_QUERY_FILTER_CONDITION
        <include refid="insertSql" />
    </update>

    <update id="mergeObject" databaseId="h2" parameterType="com.centit.framework.system.po.QueryFilterCondition" timeout="2000">
        replace into F_QUERY_FILTER_CONDITION
        <include refid="insertSql" />
    </update>
    <!--Merge单据 end -->

    <!--删除记录  -->
    <delete id="deleteObjectById" parameterType="Long" timeout="2000">
        <![CDATA[
            delete from F_QUERY_FILTER_CONDITION where CONDITION_NO=#{filterNo}
        ]]>
    </delete>
    <!--删除记录 结束 -->

  <select id="getNextKey" databaseId="oracle" resultType="Long">
    SELECT S_FILTER_NO.nextval from dual
  </select>

  <select id="getNextKey" databaseId="mysql" resultType="Long">
    SELECT sequence_nextval('S_FILTER_NO')
  </select>

  <select id="getNextKey" databaseId="h2" resultType="Long">
    select NEXT VALUE FOR S_FILTER_NO
  </select>

</mapper>
