<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<%@ include file="/WEB-INF/jsp/common/taglibs.jsp"%>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">

                <div class="panel-heading">

                    主题
                </div>

                <div class="panel-body">
                    <label for="" ng-repeat="theme in themes" style="text-align:center;margin-right:20px;">
                        <img ng-src="modules/sys/usersetting/images/{{theme.theme}}.png" width="200" height="160"/><br />
                        <input type="radio" name="theme" ng-checked="currentTheme==theme.theme"  ng-click="changeTheme(theme.theme,theme.colors)"/>{{theme.name}}
                    </label>
                </div>
                <div class="panel-heading">

                    颜色
                </div>

                <div class="panel-body">
                     <table style="border-collapse: separate;border-spacing: 11px;">
                        <tbody>
                          <tr>
                            <td class="color-box {{color}}" ng-repeat="color in colors" ng-click="changeColor(color)" style="width:64px;height:64px;">
                             <i class="fa fa-check-circle-o" ng-show="currentColor==color"></i>
                            </td>
                         </tr>
                       </tbody>
                     </table>
                </div>
                <!-- <div class="panel-footer" style="text-align:center;">
                  <a xt-button ng-click="saveTheme()" class="save">保存</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
