<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<%@ include file="/WEB-INF/jsp/common/taglibs.jsp"%>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">

                <div class="panel-heading">

                    接收消息方式
                </div>

                <div class="panel-body">
                    <label for="" ng-repeat="way in receiveways" style="text-align:center;margin-right:20px;">
                        <input type="checkbox" name="way" ng-checked="way.selected"  ng-click="changeReceiveWays(way)"/>{{way.name}}
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>
