<!-- 查询框 -->
<div>
    <div xt-search search="search" filter="filter">
        <div xt-search-item title="中文名称">
            <input ng-model="filter.paramName" ng-change="search()" type="text" />
        </div>

        <div xt-search-item title="参数代码">
            <input ng-model="filter.paramCode" ng-change="search()" type="text" />
        </div>
        <div xt-search-item title="参数值">
            <input ng-model="filter.paramValue" ng-change="search()" type="text"/>
        </div>

    </div>

    <!-- 数据表格 -->
    <div xt-grid="obj in list" order="order" search="userInfoSearch">
        <!-- <a class="btn add"  href="#/userinfo/new/1">新增</a> -->
        <a class="btn green" href="${ctx}/system/usersetting/export">导出</a>
        <div xt-grid-column property="paramName" title="参数中文名称"></div>
        <div xt-grid-column property="paramCode" title="参数代码"></div>
        <div xt-grid-column property="paramValue" title="参数值"></div>
        <div xt-grid-column property="createDate" title="创建时间"></div>
    </div>

    <div xt-paging paging="paging" search="userInfoSearch" ng-if="paging" per="10"></div>
</div>






